$standard-white: #fff;
$standard-black: #101728;

$standard-card-color-1: #2b84f8;
$standard-card-color-2: #3dd0e6;
$standard-card-color-3: #55a2fa;

$standard-accent-color-1: #1472f8;
$standard-accent-color-2: #e3edfc;
$standard-accent-color-3: #e52157;
$standard-accent-color-4:#fee9ee;

$standard-grey-color-1: #667082;
$standard-grey-color-2: #666f84;

$standard-transition-duration: 350ms;